@import '../../../styles.css';

body {
  padding: 40px;
}

.modal-header {
  display: flow-root;
}

.back-header {
  border-radius: 10px;
  background: #000046;
}

.tt::before {
  content: "قيد الانتظار";
  color: var(--light-color);
  font-weight: bold;
}

.ff::before {
  content: "قيد الإجراء";
  color: orange;
  font-weight: bold;
}

.ll::before {
  content: " تم الرفض";
  color: #dd1818;
  font-weight: bold;
}

.aa::before {
  content: " تم القبول";
  color: green;
  font-weight: bold;
}

.kk::before {
  content: " تم إغلاق الملف";
  color: green;
  font-weight: bold;
}

.vv::before {
  content: "قائمة الانتظار";
  color: firebrick;
  font-weight: bold;
}
.column-edit {
  padding-right: 25px;
  padding-left: 25px;
}

.container {
  padding-top: 80px;
}

label {
  padding-right: 15px;
}
