<body>

  <br><br>

  <div class="search">

    <form [formGroup]="formControl">

      <mat-form-field class=" example-full-width " style="text-align: start; padding-right: 20px;">
        <input matInput formControlName="patientName">
        <mat-icon matSuffix class="test">search</mat-icon>
        <mat-placeholder>اسم الجريح</mat-placeholder>
      </mat-form-field>

      <mat-form-field class=" example-full-width " style="text-align: start; padding-right: 20px;">
        <input matInput formControlName="passportNo">
        <mat-icon matSuffix class="test">search</mat-icon>
        <mat-placeholder>رقم جواز السفر</mat-placeholder>
      </mat-form-field>

      <mat-form-field class=" example-full-width " style="text-align: start; padding-right: 20px;">
        <input matInput formControlName="nationalNo">
        <mat-icon matSuffix class="test">search</mat-icon>
        <mat-placeholder>الرقم الوطني</mat-placeholder>
      </mat-form-field>

      <!--<mat-form-field class=" example-full-width " style="text-align: start; padding-right: 20px;">
        <mat-select placeholder="الأدوية" formControlName="medEnName">
          <mat-option (click)="resetMedicineFilter()"> الكل</mat-option>
          <mat-option *ngFor="let b of medications" [value]="b.medEnName">
            {{b.medEnName}}
          </mat-option>
        </mat-select>
      </mat-form-field>-->
      <!--<mat-form-field class=" example-full-width " style="text-align: start; padding-right: 20px;">
        <input matInput formControlName="phoneNumber">
        <mat-icon matSuffix class="test">search</mat-icon>
        <mat-placeholder>موظف الإدخال</mat-placeholder>
      </mat-form-field>-->
      <!--================================================-->
      <!--<mat-form-field class=" example-full-width " style="text-align: start; padding-right: 20px;">
        <input #picker matInput [matDatepicker]="secondDatePicker" placeholder="تاريخ الإدخال" readonly formControlName="userDate">
        <mat-icon matDatepickerToggleIcon (click)="resetUserDate()" style=" position: absolute;padding-left:20px; float: left;  cursor: pointer; color: rgba(0, 0, 0, 0.54);">clear</mat-icon>
        <mat-datepicker-toggle matSuffix [for]="secondDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #secondDatePicker style=" width: 85%;"></mat-datepicker>
      </mat-form-field>-->


    </form>
  </div>

  <form *ngIf="(LoginStatus$ | async) as LoginStatus">
    <div *ngIf="LoginStatus && UserRole =='موظف المركز_الصيدلية'">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef> ر. </th>
          <td mat-cell *matCellDef="let i = index"> {{i+1}} </td>
        </ng-container>

        <ng-container matColumnDef="first">
          <th mat-header-cell *matHeaderCellDef> الإسم </th>
          <td mat-cell *matCellDef="let p"> {{p.patientName}} </td>
        </ng-container>
        <ng-container matColumnDef="second">
          <th mat-header-cell *matHeaderCellDef> رقم جواز السفر </th>
          <td mat-cell *matCellDef="let p"> {{p.passportNo}} </td>
        </ng-container>

        <ng-container matColumnDef="third">
          <th mat-header-cell *matHeaderCellDef> الرقم الوطني </th>
          <td mat-cell *matCellDef="let p"> {{p.nationalNo}} </td>
        </ng-container>

        <!--<ng-container matColumnDef="fourth">
          <th mat-header-cell *matHeaderCellDef> إسم الدواء </th>
          <td mat-cell *matCellDef="let p"> {{p.medEnName}} </td>
        </ng-container>

        <ng-container matColumnDef="fifth">
          <th mat-header-cell *matHeaderCellDef> تاريخ الطلب </th>
          <td mat-cell *matCellDef="let p"> {{p.requestDate | date:'yyyy-MM-dd' }} </td>
        </ng-container>

        <ng-container matColumnDef="sixth">
          <th mat-header-cell *matHeaderCellDef>كمية الطلب</th>
          <td mat-cell *matCellDef="let p"> {{p.requestedQuantity}} </td>
        </ng-container>


        <ng-container matColumnDef="seventh">
          <th mat-header-cell *matHeaderCellDef> حالة الطلب </th>
          <td mat-cell *matCellDef="let p">

            <div *ngIf="p.orderState == 0" style="color: #7aade3; font-weight: bold">
              لم يتم الرد
            </div>

            <div *ngIf="p.orderState == 1" style="color:orangered;font-weight:bold">
              قيد الإنتظار
            </div>

            <div *ngIf="p.orderState == 2" style="color:forestgreen;font-weight:bold">
              تم الصرف
            </div>

          </td>
        </ng-container>

        <ng-container matColumnDef="eighth">
          <th mat-header-cell *matHeaderCellDef> تاريخ الصرف </th>

          <td mat-cell *matCellDef="let p">
            <div *ngIf="p.dispensDate != null">
              {{p.dispensDate | date:'yyyy-MM-dd' }}

            </div>

            <div *ngIf="p.dispensDate == null">
              ----
            </div>

          </td>
        </ng-container>

        <ng-container matColumnDef="ninth">
          <th mat-header-cell *matHeaderCellDef>كمية الصرف</th>
          <td mat-cell *matCellDef="let p">

            <div *ngIf="p.dispensedQuantity != 0">
              {{p.dispensedQuantity}}

            </div>

            <div *ngIf="p.dispensedQuantity == 0">
              ----
            </div>
          </td>
        </ng-container>-->


        <ng-container matColumnDef="tenth">
          <th mat-header-cell *matHeaderCellDef>موظف الإدخال</th>
          <td mat-cell *matCellDef="let p"> {{p.phoneNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> تفاصيل  </th>
          <td mat-cell *matCellDef="let b">
            <mat-icon mat-icon-button type="button" matTooltip="عرض كافة الادوية التي تم صرفها للمريض" (click)="onSelect(b)"
                      style=" color: green;">
              <mat-icon>notes</mat-icon>
            </mat-icon>
          </td>
        </ng-container>

        <!--<ng-container matColumnDef="edit3">
          <th mat-header-cell *matHeaderCellDef> تعديل  </th>
          <td mat-cell *matCellDef="let b">

            <div *ngIf="b.orderState == 0">
              <mat-icon mat-icon-button type="button" matTooltip="تعديل الدواء" (click)="onUpdateModal(b)" style=" color: green;">
                <mat-icon>edit</mat-icon>
              </mat-icon>
            </div>

            <div *ngIf="b.orderState != 0">
              <mat-icon mat-icon-button type="button" matTooltip="تعديل الدواء"  style=" color: dimgray;">
                <mat-icon>edit</mat-icon>
              </mat-icon>
            </div>

          </td>
        </ng-container>

        <ng-container matColumnDef="delete3">
          <th mat-header-cell *matHeaderCellDef> حذف </th>
          <td mat-cell *matCellDef="let b">

            <div *ngIf="b.orderState == 0">
              <mat-icon mat-icon-button type="button"
                        matTooltip="حذف الدواء" (click)="onDeleteModal(b)" style=" color: #dd1818;">
                <mat-icon>delete_forever</mat-icon>
              </mat-icon>

            </div>

            <div *ngIf="b.orderState != 0">
              <mat-icon mat-icon-button type="button"
                        matTooltip="حذف الدواء" style=" color: dimgray;">
                <mat-icon>delete_forever</mat-icon>
              </mat-icon>

            </div>
          </td>
        </ng-container>-->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <mat-paginator dir="rtl" class="d-flex justify-content-end" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"></mat-paginator>
    </div>
  </form>

</body>


<!---- update  MODAL START-->
<ng-template #editTemplate>
  <div class="modal-header">

    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">  تعديل طلب الدواء للمريض </h4>

  </div>
  <div class="modal-body text-center">
    <p class="list-group-item active text-center text-uppercase"> {{modalMessage1}}</p>

    <form [formGroup]="updateForm">

      <ul class="list-group">

        <li class="list-group-item">
          <mat-form-field class="example-full-width mat-form-field-infix" appearance="fill">
            <mat-label>إسم الدواء</mat-label>
            <mat-select formControlName="MedId">
              <mat-option *ngFor="let c of medications" [value]="c.id">
                {{c.medArName}} - {{c.medEnName}}

              </mat-option>
            </mat-select>
            <div class="errorMessage" *ngIf="MedId.touched && MedId.errors">
              <span class="ma" *ngIf="MedId.hasError('required')">يجب إختيار إسم الدواء</span>
              <span class="ma" *ngIf="MedId.hasError('min')">يجب إختيار إسم الدوا</span>
            </div>
          </mat-form-field>
        </li>


        <li class="list-group-item">
          <mat-form-field class="example-full-width mat-form-field-infix" appearance="fill">
            <mat-label> كمية الدواء</mat-label>
            <input formControlName="RequestedQuantity" type="number" id="name" matInput placeholder="كمية الدواء">
            <mat-error *ngIf="RequestedQuantity.hasError('required')">
              الرجاء تعبئة الحقول المطلوبة
            </mat-error>
          </mat-form-field>
        </li>

        <div class="modal-footer">
          <button [disabled]="updateForm.invalid" class="btn btn-primary mr-auto " (click)="onSubmit()">حفظ</button>
          <button class="btn btn-primary" (click)="modalRef.hide()">إلغاء</button>
        </div>
      </ul>
    </form>

  </div>
</ng-template>



<!--delete branch MODAL START-->
<ng-template #deleteTemplate>
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">حذف طلب الدواء</h4>
  </div>
  <div class="modal-body text-center">
    <p class="list-group-item active text-center text-uppercase">{{modalMessage2}}</p>
    <form [formGroup]="deleteForm">
      <ul class="list-group">

        <div class="modal-footer">
          <button class="btn btn-primary mr-auto" (click)="onSubmitDel()">حذف</button>
          <button class="btn btn-primary" (click)="modalRef.hide()">إلغاء</button>
        </div>

      </ul>
    </form>
  </div>
</ng-template>


