@import '../../../styles.css';


.aa::before {
  content: "قيد الانتظار";
  color: var(--light-color);
  font-weight: bold;
}

.bb::before {
  content: "تم استقبال الجريح من قِبل المصحة";
  color: green;
  font-weight: bold;
}

body {
  padding: 40px;
}

.modal-header {
  display: flow-root;
}

.back-header {
  border-radius: 10px;
  background: #000046;
}

/*.btn-primary {
  border-radius: 10px;
 background: linear-gradient(to right, #4286f4,#000046);
}
*/
.container {
  padding-top: 80px;
}

label {
  padding-right: 15px;
}
